.majoo__titleContainer {
	padding: 0px 10px;
	height: 30px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 10px;
}

.majoo__addCard {
	font-weight: 600;
	color: grey;
}

.majoo__addCard:hover {
	cursor: pointer;
	color: #000;
}

.majoo__titleText {
	font-weight: 600;
}
