.majoo__taskCardContainer {
	display: flex;
	flex-direction: row;
}
.majoo__taskCard {
	background-color: #fff;
	margin-bottom: 10px;
	padding: 20px 10px;
	border-radius: 5px;
	width: 90%;
}
.majoo__taskCard:hover {
	cursor: pointer;
	background: #f4f5f7;
}
.majoo__addCardTextArea {
	width: 267px;
	height: 70px;
	font-size: 16px;
}
.majoo__iconImg {
	height: 20px;
}
