.majoo__modalContainer {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 6;
	padding: 15px;
	border-radius: 6px;
	background-color: #fff;
	width: 768px;
}
.majoo__titleText {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.majoo__dataContainer {
	display: flex;
	flex-direction: column;
}
.majoo__addCardDescriptionTextArea {
	height: 70px;
	font-size: 16px;
}
.majoo__addCardTitleTextArea {
	font-size: 16px;
	width: 70%;
	margin-top: 10px;
}
.majoo__helpButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
}
.majoo__deleteButton {
	background-color: #ff0000;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 40px;
	display: flex;
	justify-content: center;
	margin-right: 30px;
}
.majoo__submitButton {
	background-color: #0079bf;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 40px;
	display: flex;
	justify-content: center;
	margin-right: 30px;
}
.majoo__moveButton {
	background-color: #48c463;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	margin-right: 30px;
}
.majoo__closeIconContainer {
	position: absolute;
	top: 20px;
	right: 15px;
	z-index: 3;
}
.majoo__closeIconImg {
	height: 18px;
}
.majoo__descriptionTitle {
	font-size: 18px;
	margin-bottom: 10px;
}
.majoo__titleWrap {
	margin-bottom: 30px;
}
