.majoo__overlay {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: 0.8;
	position: fixed;
	z-index: 6;
}
.majoo__block {
	display: block;
}
.majoo__hidden {
	display: hidden;
}
