body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.majoo__mb10 {
	margin-bottom: 10px;
}

.majoo__pointer {
	cursor: pointer;
}

.majoo__wordBreak {
	word-break: break-all;
}

.majoo__ml10 {
	margin-left: 10px;
}
